body {
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #4d5d91;
  margin: 8px;

}

.top-banner {
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("./src/banner1_narrow.jpg"); /* Photo by Abby Anaday*/
  background-size: 100%;
  margin-top: 0px;
  padding-top: 0%;
}

.banner-h1 {
  font-size: 85px;
  padding-top: 20px;
  margin-bottom: 5px;
  margin-top: 0px;
  font-weight: 500;
  color: white;
}

.banner-h2 {
  font-size: 20px;
  font-weight: 900;
  color: white;
  margin-top: 1px;
  padding-top: 1px;
  margin-bottom: 5px;
}

.hr1 {
  color: #172144;
  width: 100%;
  margin-top: 10px;
  margin-left: 0%;
  margin-right: 0%;
}

hr {
  display: block;
  width: 100%;
  border: solid;
  border-width: 1px;
  border-color: aqua;
}

#body-main {
  width: 100%;
}

.background {
  padding: 10px 10px 10px 10px;
}
article {
  display: block;
}

.img {
  float: left;
  object-fit: cover;
  padding: 10px 10px 10px 10px;
  position: relative;
}

.bio {
  border-radius: 15px;
  border-style: solid;
  border-color: cyan;
  border-width: 6px;
}

#handsome {
  height: 200px;
  width: 200px;
}

#saws {
  height: 200px;
  width: 200px;
}

#welding1 {
  height: 200px;
  width: 200px;
}

#p3,
#p2,
#p1 {
  display: flex;
  align-items: center;
  justify-content: left;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

h1,
h2,
h3,
h4 {
  color: white;
}

h2 {
  font-size: 35px;
  font-weight: 900;
  color: white;
  margin-top: 1px;
  padding-top: 1px;
  margin-bottom: 5px;
}

h3{
  font-size: 30px;
  margin: 10px;
}

p {
  color: lightcoral;
  margin: 0%;
  font-weight: 200;
  font-size: 18px;
}

.furniture {
  width: 100%;
  margin-top: 0%;
  margin-bottom: 8px;
}

.banner {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  height: 75px;
}

.body-p {
  margin-top: 18px;
  margin-bottom: 30px;
}

#furniture {
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-image: url("./src/banner_furniture.jpg"); */
  background-size: 100%;
  margin-top: 0px;
  padding-top: 0%;
  /* background-image: url("./src/banner_2_narrow.jpg");
  background-size: 100%;
  height: 90px; */
}

#plants_banner{
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0px;
  padding-top: 0%;
  /* background-image: url("./src/plants/plants_banner.jpg"); */
  background-size: 100%;
}

#furniture-2{
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0px;
  padding-top: 0%;
  /* background-image: url("./src/plants/plants_banner.jpg"); */
  background-size: 100%;
}

.metalwork {
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-image: url('./src/banner1_narrow.jpg'); */
  background-size: 100%;
  margin-top: 0px;
  padding-top: 0%;
}

#title {
  font-size: 80px;
  color: aliceblue;
  font-weight: 200;
  margin: 3px;
  padding: 0%;
}

.grid-img {
  height: 100%;
  width: 100%;
}

.grid-img:hover{
  opacity: 0.7;
  cursor: pointer;
}

.row {
  display: flex;
}
.column {
  float: left;
  padding: 8px;
  /* display: ; */
}



.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  /* height: 100%; */
  max-height: 900px;
  width: 100%;
  max-width: 750px;
}

.modal-content{
  animation-name: zoom;
  animation-duration: 0.8s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.next {
  position: absolute;
  top: 50%;
  right: 35px;
  color: #f1f1f1;
  font-size: 80px;
  font-weight: bold;
  transition: 0.3s;
}

.prev {
  position: absolute;
  top: 50%;
  left: 35px;
  color: #f1f1f1;
  font-size: 80px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus,
.next:hover,
.next:focus,
.prev:hover,
.prev:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

mainHeading{
  color: green;
}

#hidden{
  display: none;
}

footer{
  width: 100%;
  height: 25px;
  color: #bbb;
}


#testP{
  color: green;
  display: none;
}

#mainHeading{
  color: red;
  display: none;
}